/* ==========================================================================
   Media Queries
========================================================================== */

/* Screen Width Below 1160px */

@media only screen and (max-width: 1160px) {

    .main-grid-container {
        grid-template-areas:
        "section-one"
        "section-two"
        "section-three";
        grid-template-rows: 1fr 2fr 3fr;
        grid-template-columns: 1fr;
    }

}

/* Screen Width Below 576px */

@media only screen and (max-width: 576px) {

    .section-one-grid-container {
        grid-template-areas:
        "side-label"
        "side-select" 
        "strategy-label"
        "strategy-select";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .form-grid-container {
        grid-template-areas:
        "ticker-label"
        "ticker-input"
        "price-label"
        "price-input"
        "strike-label"
        "strike-input"
        "premium-label"
        "premium-input";
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
    }

    .section-three-grid-container {
        grid-template-areas:
        "calculate-btn"
        "clear-btn"
        "result-output"
        "percent-output";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

}