/* ==========================================================================
   Root
========================================================================== */

:root {
    /* Background Colors */
    --body-bg-color: rgb(33, 32, 30);
    --header-bg-color: rgb(15, 51, 37);
    --main-bg-color: rgb(33, 32, 30);
    --section-bg-color: rgb(46, 48, 51);
    --footer-bg-color: rgb(173, 0, 14);

    /* Text Colors */
    --txt-color: rgb(225, 225, 225);
    --green-txt-color: rgb(68,214,44);
    --red-txt-color: rgb(210,39,48);

    /* Text Size */
    --largest-txt: clamp(3rem, 5vh + 1rem, 10rem);
    --large-txt: clamp(2rem, 2.5vh + 1rem, 6rem);
    --normal-txt: clamp(1rem, 1vh + 1rem, 4rem);
    --small-txt: clamp(0.75rem, 0.5vh + 1rem, 2rem);

    /* Box Shadows */
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.19),
      0.4px 0.4px 0.5px -1.9px hsl(var(--shadow-color) / 0.15),
      1.1px 1.2px 1.5px -3.7px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-medium:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.2),
      0.7px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.17),
      2.1px 2.1px 2.8px -2.5px hsl(var(--shadow-color) / 0.14),
      5.7px 5.8px 7.6px -3.7px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
      0.3px 0.3px 0.4px hsl(var(--shadow-color) / 0.19),
      1.1px 1.1px 1.5px -0.5px hsl(var(--shadow-color) / 0.17),
      2.2px 2.2px 2.9px -1.1px hsl(var(--shadow-color) / 0.16),
      4.2px 4.2px 5.6px -1.6px hsl(var(--shadow-color) / 0.14),
      7.5px 7.7px 10.1px -2.1px hsl(var(--shadow-color) / 0.13),
      12.9px 13.1px 17.2px -2.7px hsl(var(--shadow-color) / 0.11),
      20.7px 21.1px 27.7px -3.2px hsl(var(--shadow-color) / 0.09),
      31.6px 32.2px 42.3px -3.7px hsl(var(--shadow-color) / 0.08);
}

/* ==========================================================================
   Fonts
========================================================================== */

@font-face {
    font-family: Ubuntu;
    src: url('/assets/fonts/Ubuntu-Regular.ttf');
}